.btn {
  border-style: none;
  cursor: pointer;
  width: 200px;
  background: none;
  margin: 10px 0;
  font-size: large;
  border: 1px solid;
  margin: 5px;
}
.btn:hover {
  color: rgb(60, 154, 101);
}
.App {
  width: 100%;
  margin: 0 auto;
}

.btns-group {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
